{% extends "base.html.twig" %}
{% block title %}{{title}}{% endblock %}

{% block content %}
    <div class="container">   
        <head><h1>KFFramework</h1>
        Bienvenue dans KFFramework un petit framework MCV a but pédagogique.
    </head>
    <section>
{{form|raw}}

    </section>
</div>
{% endblock %}
